{{ template "header.html" }}
<div id="content">
<h1>About</h1>
<i>All about {{ .FName }}</i>
<div class="figure">
<img src="https://www.gravatar.com/avatar/f52f6d73bc0ef7c3920b9bdeafb29182">
</div>

<p>My name is Aaron Bieber (no relation!). I am a OpenBSD developer (abieber@), ham radio nerd (KD0WKW) and husband.</p>

<p>I love Open Source and try to contribute where ever possible. I also run the <a href="https://cobug.org">Colorado BSD Users Group</a></p>

<p>A list of internet-related things I own can be found on <a href="https://keybase.io/qbit">KeyBase</a>.</p>
</div>
{{ template "footer.html" }}
