{{ template "header.html" . }}
<div id="content">
<h1>Contact</h1>
<i>Various places to find me on the internet.</i>

<h3>General</h3>
<p>I can be found in various places across the net. I often post to <a href="https://twitter.com/qb1t">Twitter</a> and/or <a href="https://mastodon.social/@qbit">Mastodon</a>.</p>

<h3>Email</h3>
If you need to email me, my address is <code>aaron@</code> any of my domains.

<h3>PGP</h3>

<pre>
pub   rsa4096/0x1F81112D62A9ADCE 2017-01-27 [SC]
      Key fingerprint = 3586 3350 BFEA C101 DB1A  4AF0 1F81 112D 62A9 ADCE
uid                   [ultimate] Aaron Bieber &lt;aaron@bolddaemon.com&gt;
uid                   [ultimate] Aaron Bieber &lt;deftly@gmail.com&gt;
uid                   [ultimate] Aaron Bieber &lt;qbit@deftly.net&gt;
uid                   [ultimate] Aaron Bieber &lt;abieber@openbsd.org&gt;
uid                   [ultimate] Aaron Bieber &lt;aaron@cobug.org&gt;
sub   rsa4096/0x279160AB1BE1236B 2017-01-27 [S]
sub   rsa4096/0x20ADADE0DD48B109 2017-01-27 [E]
sub   rsa4096/0x4FA951575F92D3E2 2017-01-27 [A]
</pre>
</div>
{{ template "footer.html" }}
