<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    {{ $title := hasTitle .Title }} 
    {{ if $title }} 
    <title>Deftly.net - {{ .Title }}</title>
    {{ else }} 
    <title>Deftly.net</title>
    {{ end }} 
    <link rel="stylesheet" type="text/css" href="/css/default.css" />
    <link rel="stylesheet" type="text/css" href="/css/layout.css" />
    <link rel="stylesheet" type="text/css" href="/css/syntax.css" />
  </head>
  <body>
    <div id="header">
      <div id="navigation">
        <h1>Notes</h1>
        <a href="/">Home</a>
        <a href="/about.html">About</a>
        <a href="/contact.html">Contact</a>
        <a href="/archive.html">Archive</a>
        <hr />
        <a href="https://github.com/qbit"><img src="/images/GitHub-Mark-64px.png" />GitHub</a>
        <a href="https://www.linkedin.com/in/abieber/en"><img src="images/linked_in.png" />LinkedIn</a>
        <a href="https://twitter.com/qb1t"><img src="/images/twitter.png" />Twitter</a>
        <a href="https://cobug.org"><img src="/images/cobsd_trimmed.png" alt="CoBUG.org"/></a>
        <a href="https://code.bolddaemon.com/qbit"><img src="https://code.bolddaemon.com/img/favicon.png" alt="code.bolddaemon.com"/></a>

      </div>

